<p id="notice"><%= notice %></p>

<p>
  <strong>Pp1:</strong>
  <%= @classessection.pp1 %>
</p>

<p>
  <strong>Pp2:</strong>
  <%= @classessection.pp2 %>
</p>

<p>
  <strong>Class1:</strong>
  <%= @classessection.class1 %>
</p>

<p>
  <strong>Class2:</strong>
  <%= @classessection.class2 %>
</p>

<p>
  <strong>Class3:</strong>
  <%= @classessection.class3 %>
</p>

<p>
  <strong>Class4:</strong>
  <%= @classessection.class4 %>
</p>

<p>
  <strong>Class5:</strong>
  <%= @classessection.class5 %>
</p>

<p>
  <strong>Class6:</strong>
  <%= @classessection.class6 %>
</p>

<p>
  <strong>Addsection1:</strong>
  <%= @classessection.addsection1 %>
</p>

<p>
  <strong>Addsection2:</strong>
  <%= @classessection.addsection2 %>
</p>

<p>
  <strong>Addsection3:</strong>
  <%= @classessection.addsection3 %>
</p>

<p>
  <strong>Addsection4:</strong>
  <%= @classessection.addsection4 %>
</p>

<p>
  <strong>Addsection5:</strong>
  <%= @classessection.addsection5 %>
</p>

<p>
  <strong>Addsection6:</strong>
  <%= @classessection.addsection6 %>
</p>

<p>
  <strong>Addsection7:</strong>
  <%= @classessection.addsection7 %>
</p>

<p>
  <strong>Addsection8:</strong>
  <%= @classessection.addsection8 %>
</p>

<p>
  <strong>Sections1:</strong>
  <%= @classessection.sections1 %>
</p>

<p>
  <strong>Sections2:</strong>
  <%= @classessection.sections2 %>
</p>

<p>
  <strong>Sections3:</strong>
  <%= @classessection.sections3 %>
</p>

<p>
  <strong>Sections4:</strong>
  <%= @classessection.sections4 %>
</p>

<p>
  <strong>Sections5:</strong>
  <%= @classessection.sections5 %>
</p>

<p>
  <strong>Sections6:</strong>
  <%= @classessection.sections6 %>
</p>

<p>
  <strong>Sections7:</strong>
  <%= @classessection.sections7 %>
</p>

<p>
  <strong>Sections8:</strong>
  <%= @classessection.sections8 %>
</p>

<%= link_to 'Edit', edit_classessection_path(@classessection) %> |
<%= link_to 'Back', classessections_path %>
