<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @subsrcibingplan.subject %>
</p>

<p>
  <strong>Features:</strong>
  <%= @subsrcibingplan.features %>
</p>

<%= link_to 'Edit', edit_subsrcibingplan_path(@subsrcibingplan) %> |
<%= link_to 'Back', subsrcibingplans_path %>
